<!DOCTYPE html>
<html>
<head>
	<title>D- Line</title>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/stylesheets/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/img/dline.png" type="image/gif" sizes="16x16">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	 
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js">
	</script>
	<link rel="stylesheet" href="/stylesheets/nprogress.css">
	<link rel="stylesheet" href="/stylesheets/animate.css">
	<script type="text/javascript" src="/scripts/nprogress.js"></script>
</head>

