<% include partials/header %>
<% include partials/nav-bar %>
<% include partials/bootstrap %>
<% include partials/material %>

<div class="animated fadeIn home-wraper">
	<img src="/img/dline.png" id="logo">
	<h1 class="brand"> D-line</h1>
	<p class="about-description">D-line is just a personal thought ended up being a repository here. Its currently in development. The functions and features will be elaborated when time comes but as of now you can settle it as an analysis of your medical report which virtualised the results in the form of charts enabling you understand the better YOU.</p>
</div>

<style>
	.about-description {
		font-size: medium;
	}


</style>
<% include partials/footer %>