<% include partials/header %>
<% include partials/nav-bar %>
<% include partials/bootstrap %>
<% include partials/material %>

<div class="home-wraper">
	<img src="/img/dline.png" id="logo">
	<h1 class="brand"> D-line</h1>
	<p class="description"> World's first open-source Medical analytics</p>
	<a href="/demo">
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" >View Demo </button>
	</a>


</div>

</div>
<% include partials/footer %>