<% include partials/header %>
<% include partials/nav-bar %>
<% include partials/bootstrap %>
<% include partials/material %>

<link rel="stylesheet" href="stylesheets/login.css">
<body>
  
<div class="container">
  <div class="info">
  
    <h1>Login</h1>
  </div>
</div>
<div class="form">
  <div class="thumbnail"><img src="/img/dline.png"/></div>
 <form class="login-form" action="/login" method="POST">
    <input type="text" name="username"placeholder="Username"/>
    <input type="password" name="password" placeholder="Password"/>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">Log In</button>
    <p class="message">Not registered? <a href="/register"> Create an account</a></p>
  </form>
</div>


<% include partials/footer %>
