<% include partials/header %>
<% include partials/nav-bar %>
<% include partials/bootstrap %>
<div class="container">
		<script type="text/javascript" src="/scripts/dline.js"></script>
		<div class="center">
<a href="index.html"><img src="/img/dline.png" id="logo"></a>



		<h2 class="brand">Alive D report</h2>
		<p class="description">Test it! </p>

<input id="input1"type="text" name="val0" value="78"></input>


<div class="row">
			<div class="charty col-md-6">
			<canvas id="line" width="70" height="40"></canvas>

			</div>
			<div class="charty col-md-6">
			<canvas id="dline" width="70" height="40"></canvas>
		</div>
	</div>
</div>
		
<% include partials/footer %>